<aside>
    <span class="cate-txt">分类</span> 
	<ul>
		<!-- <li>web</li>
		<li>android</li>
		<li>ios</li>
		<li>life</li>
		<li>game</li>
		<li>book</li>
		<li>php</li> -->
		{$nav}
	</ul>
	<span class="cate-txt friends-link">友情链接</span> 
	<ul>
		<li><a target="_blank" href="http://zjuhpp.com/">韩小麦</a></li>
		<li><a target="_blank" href="http://www.zhangxinxu.com/">张鑫旭</a></li>
		<li><a target="_blank" href="https://github.com/lifesinger/blog/issues">王保平</a></li>
		<li><a target="_blank" href="https://www.byvoid.com/">郭家宝</a></li>
		<li><a target="_blank" href="http://diveintonode.org/">田永强</a></li>
		<li><a target="_blank" href="https://github.com/astaxie">谢孟军</a></li>
		<li><a target="_blank" href="http://www.laruence.com">惠新宸</a></li>
		<li><a target="_blank" href="http://www.ruanyifeng.com">阮一峰</a></li>
		<li><a target="_blank" href="http://www.cnblogs.com/rubylouvre/">钟钦成</a></li>
		<li><a target="_blank" href="http://winter-cn.cnblogs.com/">程劭非</a></li>
		<li><a target="_blank" href="http://evanyou.me">尤雨溪</a></li>
	</ul>
</aside>