<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$title}-sunshine of micro</title>
	<link rel="icon" href="/favicon.ico" type="/image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="/image/x-icon" />
	<meta name="keywords" content="xiebaochun,sunshine of micro,front-end,zstu,edu,zhejiang hangzhou" />
	<meta name="description" content="xiebaochun's blog of front end technology" />
	<link rel="stylesheet" type="text/css" href="{$blogDirectory}/css/common.css">
	<link rel="stylesheet" type="text/css" href="{$blogDirectory}/css/layout.css">
	<link rel="stylesheet" type="text/css" href="{$blogDirectory}/css/index.css">
</head>
<body>
<div class="wrap">
	{$header}
	{$aside}<article>
		<div class="markdown-body">
			{$markdown}	
		</div>
	</article>
	{$footer}	
</div>
<script type="text/javascript" src="{$blogDirectory}/js/common.js"></script>
<!--百度统计-->
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "//hm.baidu.com/hm.js?c1a4fe488e28c685f3d2b18671221525";
		var s = document.getElementsByTagName("script")[0]; 
		s.parentNode.insertBefore(hm, s);
	})();
</script>
 <!--百度统计end-->
<script>
	var $top_loader_bar = $('#top-loader-bar');
	var $body = $('body');
	//$('#top-loader-bar').dom.style.width  = '50%';
	var step = 0;
	var loader = setInterval(function(){
		step ++;
		$top_loader_bar._dom.style.width = step + '%';
		if(step >= 100) {
			clearInterval(loader);
			$top_loader_bar._dom.style.width = 0;
		}
	},1);	
</script>
</body>
</html>